<?php
/**
 * Copyright (C) 2014-2015 Clayton Daley III
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

return array (
    'LegacyRS' => array(
        'config' => array (
            # DB Configurations
            "mysql_server" => "localhost",
            "mysql_username" => "root",
            "mysql_password" => "",
            "mysql_db" => "resourcespace",

            # Application Settings
            'baseurl' => "http://dam4.github.com",
            'applicationname' => "Digital Asset Management 4 LegacyRS User", # Https recommended
            'defaultlanguage' => 'en-US', # default language, uses ISO 639-1 language codes ( en, es etc.)
            'header_favicon' => "/img/favicon.ico", # Must start with slash and be relative to root
            'slimheader' => true, # Custom logo only available on slimheader
            'linkedheaderimgsrc' => "/img/logo.png", # Must start with slash and be relative to root

            # Email addresses
            'email_from' => "email@company.com",
            'email_notify' => "email@company.com",
            'email_errors_address' => "email+rs_errors@company.com",
        ),

        /**
         * This options supports redirection of various legacy URLs to new routes.  The form of an route is:
         *
         * 'name' => array (
         *     'route' => '<new_route>',
         *     'ajax'  => false, # Optional, indicates ajax deliver is not permitted
         *     # Converts a query into a parameter for the route
         *     'parameterize' => array(
         *         '<old_query_name>' => '<new_param_name>',
         *     ),
         *     # Maps a query field into a new query field
         *     'requery' => array (
         *         '<old_query_name>' => '<new_query_name>', # the two names could be the same
         *     ),
         * ),
         *
         * The following routes are currently supported
         *  - login
         *  - logout
         *  - resetPassword
         *  - userProfile (current user, no ID provided)
         *  - adminUserList
         *  - adminUserEdit ('ref' carries user ID)
         *  - help
         *  - contact
         */
        'routes' => array (
        ),
    ),
);
